body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('/img/confectionary.png');
}

.navbar {margin-bottom: 20px;}
div.ui-datepicker{font-size:22px;}
#note-controls{margin-top:6px;}
.delete-icon {color: #a33;font-size:1.2em;}